<h1>{{title}}</h1>

<p>Observables in Angular are a powerful mechanism for handling asynchronous operations. They are part of the Reactive Extensions for JavaScript (RxJS) library, which Angular uses extensively. An Observable is a data stream that can emit multiple values over time, and subscribers can listen to these emitted values.</p>

<p><b>Open the console to see the output...</b></p>

<ul>
  <li style="color: blue;"> <b>How observable works with asynchronous Data?</b> </li>
  <p>The  observable will not Wait for the complete data to be get fetched, it will respond withe chunks or packets of the Data. In short it streams the data.</p>
</ul>